<link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap"
    rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<section class="running-line-section">
    <div class="running-line">
        <div class="running-line-inner">
            <h2 class="running-line-text">
                Master <span class="line-accent">your photography</span> skills with us!
            </h2>
            <h2 class="running-line-text">
                Master <span class="line-accent">your photography</span> skills with us!
            </h2>
            <h2 class="running-line-text">
                Master <span class="line-accent">your photography</span> skills with us!
            </h2>
        </div>
    </div>
</section>