<section class="header">
    <div class="container header-inner">
        <nav class="header-nav">
            <a class="nav-logo" href="#">
                <svg class="logo accent-logo" width="127" height="20">
                    <use href="/img/svg/icons.svg#icon-logo_mobile"></use>
                </svg>
            </a>
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="nav-link" href="#about-us">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#our-courses">Our courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#our-mentors">Our mentors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#reviews">Reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contacts">Contacts</a>
                </li>
            </ul>

            <a class="link-icon" href="#sign-up">
                <svg class="photo" width="16" height="16">
                    <use href="./img/svg/icons.svg#icon-photo-camera-interface-symbol"></use>
                </svg>
            </a>
            <button class="header-menu-btn js-open-menu" type="button">
                <svg class="button-icon" width="32" height="22">
                    <use href="./img/svg/icons.svg#icon-Nav_desktop"></use>
                </svg>
            </button>
        </nav>
        <a class="header-scroll" href="#sign-up">Sign up</a>

    </div>

    <!-- MOBILE MENU  -->
    <div class="menu-container js-menu-container">
        <button class="mobile-menu-btn js-close-menu" type="button">

            <svg class="mobile-menu-icon" width="32" height="32">
                <use href="/img/svg/icons.svg#icon-icon_close"></use>
            </svg>

        </button>
        <ul class="mobile-menu-list">
            <li class="mobile-menu-item">
                <a href="#about-us" class="mobile-menu-link current">About us</a>
            </li>
            <li class="mobile-menu-item">
                <a href="#our-courses" class="mobile-menu-link">Our courses</a>
            </li>
            <li class="mobile-menu-item">
                <a href="#our-mentors" class="mobile-menu-link">Our mentors</a>
            </li>
            <li class="mobile-menu-item">
                <a href="#reviews" class="mobile-menu-link">Reviews</a>
            </li>
            <li class="mobile-menu-item">
                <a href="#contacts" class="mobile-menu-link">Contacts</a>
            </li>
        </ul>

        <picture>
            <!-- MOBILE -->
            <source media="(max-width: 767px)"
                srcset="/img/menu/menu.tab-min.jpg 1x, /img/menu/menu.tab2x-min.jpg 2x" />
            <!-- TABLET -->
            <source media="(min-width: 768px)"
                srcset="/img/menu/mob.menu-min.jpg 1x, /img/menu/mob.menu@2x-min.jpg 2x" />
            <img class="mobil-image" src="/img/menu/menu.tab-min.jpg" alt="Photo" width="480" height="476" />
        </picture>
    </div>
</section>