<section class="hero-section">
    <h1 class="hero-title">Discover the magic of <span class="hero-span">photography</span> in our school</h1>
    <p class="hero-text">Our photography school offers an unforgettable journey, where you can learn the basics of composition, master technical
    skills, translate your unique ideas.</p>
    <div class="hero-block">
        <div class="hero-happy-students">
            <p class="hero-students">Our happy students</p>
        </div>
        <div class="hero-reviews">
            <p class="reviews">Reviews</p>
            <p class="hero-number">+1500</p>
        </div>
    </div>
</section>