<section class="mentors">
    <div class="container container-mentors">
        <h2 class="mentors-title">
            Our <span class="mentors-span">Mentors</span>
        </h2>
        <ul class="mentors-list">
            <li class="mentors-ittem">
                <picture>
                    <source media="(min-width:1280px)" srcset="
                                    /img/mentors/@1x-emilia.png 1x,
                                    /img/mentors/@2x-emilia.png 2x" />
                    <source media="(min-width:768px)" srcset="
                                    /img/mentors/@1x-emilia.png 1x,
                                    /img/mentors/@2x-emilia.png 2x" />
                    <source media="(max-width:767px)" srcset="
                                    /img/mentors/@1x-emilia.png 1x,
                                    /img/mentors/@2x-emilia.png 2x" />
                    <img class="person-foto" src="./img/mentors/@1x-emilia.png" alt="foto Emilia Smith" width="180"
                        height="180">
                </picture>

                <div class="name-person">
                    <h3 class="mentors-name">Emilia Smith</h3>
                    <p class="mentors-text">1.5 years of experience</p>
                </div>
            </li>
            <li class="mentors-ittem">
                <picture>
                    <source media="(min-width:1280px)" srcset="
                                    /img/mentors/@1x-alex.png 1x,
                                    /img/mentors/@2x-alex.png 2x" />
                    <source media="(min-width:768px)" srcset="
                                    /img/mentors/@1x-alex.png 1x,
                                    /img/mentors/@2x-alex.png 2x" />
                    <source media="(max-width:767px)" srcset="
                                    /img/mentors/@1x-alex.png 1x,
                                    /img/mentors/@2x-alex.png 2x" />
                    <img class="person-foto" src="./img/mentors/@1x-alex.png" alt="foto Alex Lebedev" width="180"
                        height="180">
                </picture>
                <div class="name-person">
                    <h3 class="mentors-name">Alex Lebedev</h3>
                    <p class="mentors-text">3.5 years of experience</p>
                </div>
            </li>
            <li class="mentors-ittem">
                <picture>
                    <source media="(min-width:1280px)" srcset="
                                    /img/mentors/@1x-mia.png 1x,
                                    /img/mentors/@2x-mia.png 2x" />
                    <source media="(min-width:768px)" srcset="
                                    /img/mentors/@1x-mia.png 1x,
                                    /img/mentors/@2x-mia.png 2x" />
                    <source media="(max-width:767px)" srcset="
                                    /img/mentors/@1x-mia.png 1x,
                                    /img/mentors/@2x-mia.png 2x" />
                    <img class="person-foto" src="./img/mentors/@1x-mia.png" alt="foto Mia Dubrovska" width="180"
                        height="180">
                </picture>
                <div class="name-person">
                    <h3 class="mentors-name">Mia Dubrovska</h3>
                    <p class="mentors-text">2.0 years of experience</p>
                </div>
            </li>
            <li class="mentors-ittem">
                <picture>
                    <source media="(min-width:1280px)" srcset="
                                    /img/mentors/@1x-eliot.png 1x,
                                    /img/mentors/@2x-eliot.png 2x" />
                    <source media="(min-width:768px)" srcset="
                                    /img/mentors/@1x-eliot.png 1x,
                                    /img/mentors/@2x-eliot.png 2x" />
                    <source media="(max-width:767px)" srcset="
                                    /img/mentors/@1x-eliot.png 1x,
                                    /img/mentors/@2x-eliot.png 2x" />
                    <img class="person-foto" src="./img/mentors/@1x-eliot.png" alt="foto Eliot Kovalev" width="180"
                        height="180">
                </picture>
                <div class="name-person">
                    <h3 class="mentors-name">Eliot Kovalev</h3>
                    <p class="mentors-text">4.0 years of experience</p>
                </div>
            </li>
        </ul>
    </div>
</section>