<section class="mentors">
    <div class="container-mentors">
        <h2 class="mentors-title">
            Our <span class="mentors-span">Mentors</span>
        </h2>
        <ul class="mentors-list">
            <li class="mentors-ittem">
                <img class="person-foto" src="" alt="" width="180" height="180">
                <div class="name-person">
                    <h3 class="mentors-name">Emilia Smith</h3>
                    <p class="mentors-text">1.5 years of experience</p>
                </div>
            </li>
            <li class="mentors-ittem">
                <img class="person-foto" src="" alt="" width="180" height="180">
                <div class="name-person">
                    <h3 class="mentors-name">Alex Lebedev</h3>
                    <p class="mentors-text">3.5 years of experience</p>
                </div>
            </li>
            <li class="mentors-ittem">
                <img class="person-foto" src="" alt="" width="180" height="180">
                <div class="name-person">
                    <h3 class="mentors-name">Mia Dubrovska</h3>
                    <p class="mentors-text">2.0 years of experience</p>
                </div>
            </li>
            <li class="mentors-ittem">
                <img class="person-foto" src="" alt="" width="180" height="180">
                <div class="name-person">
                    <h3 class="mentors-name">Eliot Kovalev</h3>
                    <p class="mentors-text">4.0 years of experience</p>
                </div>
            </li>
        </ul>
    </div>
</section>