<section class="section-courses">
  <div class="container-information container-information-container">
    <div class="focus">
      <h3 class="courses"><span class="courses-span">Our</span> Courses</h3>
      <p class="skill-check">
        At our photography school, we offer a variety of courses that cover all
        aspects of this fascinating art. Regardless of your experience or skill
        level, we have courses to suit your needs and goals.
      </p>
    </div>
    <ul class="photography-ul">
      <li class="list-card">
        <div class="info-item">
          <p class="info-list">01</p>
          <a class="life-info" href="" target="_blank">
            <svg class="vector-svg" width="20" height="20">
              <use href="../img/svg/icons.svg#icon-my-arrow"></use>
            </svg>
          </a>
        </div>
        <h4 class="photography-list">Basics of photography</h4>
        <p class="information-item">
          During this course, you will be able to familiarize yourself with
          different types of cameras, learn the basics of composition.
        </p>
      </li>

      <li class="list-card">
        <div class="info-item">
          <p class="info-list">02</p>
          <a class="life-info" href="">
            <svg class="vector-svg" width="20" height="20">
              <use href="../img/svg/icons.svg#icon-my-arrow"></use>
            </svg>
          </a>
        </div>
        <h4 class="photography-list">Landscape photography</h4>
        <p class="information-item">
          In this course, you'll learn how to choose the right angles, frame
          landscapes, and create depth and perspective in your images.
        </p>
      </li>
      <li class="list-card">
        <div class="info-item">
          <p class="info-list">03</p>
          <a class="life-info" href="">
            <svg class="vector-svg" width="20" height="20">
              <use href="../img/svg/icons.svg#icon-my-arrow"></use>
            </svg>
          </a>
        </div>
        <h4 class="photography-list">Portrait photography</h4>
        <p class="information-item">
          During this course, you will learn to choose the right lighting,
          reproduce the mood and expressions on the faces of the models.
        </p>
      </li>
    </ul>
  </div>
</section>
