body{
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    background-color: #121212;
}

.container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}
.wrapper{
    width:100%;
}