.container {
  width: 100%;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}
.footer {
  padding: 40px 0 20px;
  background-image: url(./img/grid/grid.mob.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #121212;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.logo-inner {
  width: 142px;
}
.footer-logo {
  margin-bottom: 16px;
  display: block;
}
.footer-contacts-list {
  margin-bottom: 40px;
}
.footer-contact-item:not(:last-child) {
  margin-bottom: 10px;
}
.footer-inner {
  display: flex;
  max-width: 214px;
  gap: 40px;
  margin-bottom: 75px;
}
.footer-contact-link {
  color: #fff;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
}
.footer-social-item {
  color: #fff;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
}
.footer-social-item:not(:last-child) {
  margin-bottom: 14px;
}
.footer-info-item {
  color: #fff;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
}
.footer-info-item:not(:last-child) {
  margin-bottom: 14px;
}
.footer-form-inner {
  margin-bottom: 40px;
}
.footer-form {
  display: flex;
  gap: 8px;
}
.footer-input {
  width: 267px;
  min-height: 60px;
  border-color: #fff;
  border-radius: 12px;
  border: transparent;
  padding: 20px 18px;
  color: #121212;
  font-size: 16px;
  line-height: 1.25;
}
.footer-btn {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  background-color: #1d1d1d;
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  border: transparent;
  padding: 18px 16px;
}
.footer-bot {
  display: flex;
  gap: 72px;
}
.footer-bot-left {
  display: flex;
  align-items: flex-start;
}
.footer-bot-right .footer-bot-item {
  display: flex;
  justify-content: flex-end;
}
.footer-bot-list {
  display: flex;
  flex-direction: column;
}
.footer-bot-item {
  display: flex;
  align-items: center;
}
.footer-bot-text {
  color: #fff;
  font-size: 12px;
  line-height: 1.33;
}
.footer-icon {
  fill: #fff;
}
/* Media */
@media screen and (max-width: 374px) {
  .container {
    padding: 0 15px;
  }
  .footer-bot {
    justify-content: space-between;
  }
  .footer-input {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 734px;
    padding: 0 15px;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-icon {
    width: 123px;
    height: 17px;
  }
  .footer-logo {
    margin-bottom: 25px;
  }
  .footer-top {
    display: flex;
    gap: 58px;
  }
  .footer-input {
    width: 178px;
  }
  .footer-form-inner {
    margin-bottom: 0;
  }
  .footer-inner {
    width: 199px;
    gap: 25px;
  }
  .footer-contacts-list {
    margin-bottom: 0;
  }
  .footer-bot {
    min-width: 100%;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1110px) {
  .container {
    max-width: 1110px;
    padding: 0 15px;
  }
  .logo-inner {
    margin-right: 285px;
  }
  .footer-top {
    gap: 0;
  }
  .footer-inner {
    margin-right: 135px;
    margin-bottom: 50px;
    gap: 50px;
    min-width: 224px;
  }
  .footer-form {
    gap: 16px;
  }
  .footer-form-inner {
    margin-bottom: 0;
  }
  .footer-input {
    width: 216px;
  }
  .footer-social-item:not(:last-child) {
    margin-bottom: 20px;
  }
  .footer-info-item:not(:last-child) {
    margin-bottom: 20px;
  }
  .footer-bot {
    min-width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1270px;
  }
  .logo-inner {
    margin-right: 341px;
  }
  .footer-inner {
    min-width: 274px;
    margin-right: 191px;
    gap: 100px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 50px 0 25px;
    background-image: url(./img/grid/grid_tab.png);
  }
}
@media screen and (min-width: 1110px) {
  .footer {
    background-image: url(./img/grid/grid_destop.png);
  }
}
@media screen and (min-resolution: 192dpi) {
  .footer {
    background-image: url();
  }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .footer {
    background-image: url();
  }
}
@media screen and (min-width: 1110px) and (min-resolution: 192dpi) {
  .footer {
    background-image: url();
  }
}
@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .footer {
    background-image: url();
  }
}
@media screen and (min-resolution: 192dpi) {
  .footer {
    background-image: url();
  }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .footer {
    background-image: url();
  }
}
@media screen and (min-width: 1110px) and (min-resolution: 192dpi) {
  .footer {
    background-image: url();
  }
}
@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .footer {
    background-image: url();
  }
}
