


   @media screen and (max-width: 374px) {
    .container {
      margin-left: auto;
      margin-right: auto;
    }
        .container.container-inner {
          padding-bottom: 10px;
        }
        .header-nav{
          padding: 0 20px;
          width: 280px;
          justify-content: space-between;
          
        }
       .nav-logo{
        width: 160px;
       }

  }
  
.header{
  padding-top: 20px;
  padding-bottom: 10px;
}
  /* SECTION HEADER */
    .wrapper {
    background-image:
        url("/img/grid/header+hero.mob.png");
        background-color: #121212;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
        
  
    }
  @media only screen and (min-resolution: 192dpi) {
    .wrapper {
      background-image:
        url("/img/grid/header+hero.mob@2x.png");
    }
  }

  .logo {
    margin-right: 90px;
    fill: #ffffff;
  }

  .nav-list {
    display: none;
  }
  
  .header-nav {
    background-color: #121212;
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    width: 335px;
    height: 50px;
    justify-content: center;
  }
  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .link-icon {
     flex-shrink: 0;
     fill: #bea69e66; 
    background-color: #1d1d1d;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 9px 0;
    margin-right: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .photo:hover, .photo:focus {
    fill: #BEA69E;
  }
  .header-scroll {
    display: none;
  }
  .header-menu-btn {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 0;
    border: none;
    cursor: pointer;
  }
  .button-icon {
    stroke: #FFF;
  }
   
  /* SECTION MOBILE MENU */
  .mobil-image {
    width: 100%;
  }
  .menu-container {
    width: 100%;
    height: 100%;
    background-color: #BEA69E;
    position: fixed;
    padding-top: 180px;
   display: flex;
   flex-direction: column;
    top: 0;
    max-width: 218px;
    right: 0;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
  }
  .is-open {
    transform: translateX(0);

  }
  .mobile-menu-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    min-width: 32px;
    min-height: 32px;
    background-color: transparent; 
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);  
  }
  .mobile-menu-icon {
    stroke: #121212;
  }
  .mobile-menu-link.current {
  font-weight: 700;
  }
  .mobile-menu-list {
    padding-left: 20px;
    margin-bottom: auto;
  }
  .mobile-menu-item:not(:last-child) {
    margin-bottom: 20px;
  }
  .mobile-menu-link {
  color: var(--black, #121212);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  }
  /* END MOBILE MENU */
    @media screen and (min-width: 375px) {
      .container {
        min-width: 375px;
        margin-left: auto;
        margin-right: auto;
      }
      .container.header-inner {
      padding-bottom: 10px;
            }
    }
   @media screen and (min-width: 768px) {
    
    .container {
      max-width: 734px;
      margin-left: auto;
      margin-right: auto;
      padding: 0 15px;
     
    }
        .container.header-inner {
          padding-bottom: 40px;
        }
    .header {
          padding-top: 20px;
          /* padding-bottom: 40px; */
        }
    
     .wrapper {
    background-image:
        url("/img/grid/header+hero.tab.png");
        padding-bottom: 40px;
  }
  
  @media only screen and (min-resolution: 192dpi) {
    .wrapper {
      background-image: 
        url("/img/grid/header+hero.tab@2x.png");
    }
  }

    .nav-list {
      display: none;
    }
 
    .header-nav {
      width: 504px;
      height: 60px;
      justify-content: space-evenly;
    }
    .link-icon {
      display: none;
    }
    .logo {
      width: 123px;
      margin-right: 300px;
    }
    .button-icon {
      width: 40px;
      height: 28px;
    }
    .header-scroll {
      border-radius: 12px;
      display: inline-flex;
      padding: 16px 58px;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      color: #121212;
      font-family: DM Sans;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.56;
      text-transform: uppercase;
      cursor: pointer;
    }
    .header-scroll:hover ,
    .header-scroll:focus {
  background-color: #1D1D1D;
   color:  #BEA69E;

/* MOBILE MENU TABLET */

    }
    .menu-container {
      max-width: 480px;
      padding-top: 232px;
      transform: translateX(100%);
  
  }
  
  .is-open {
    transform: translateX(0);
  }
  .mobile-menu-list {
    padding-left: 64px;
    margin-bottom: auto;
    gap: 28px;
  }

.mobile-menu-btn {
  min-width: 40px;
  min-height: 40px;
}

  .mobil-image {
  width: 100%;
   }
  }
    
  @media screen and (min-width: 1280px) {
    .container {
      max-width: 1110px;
      margin-left: auto;
      margin-right: auto;
      padding: 0 15px;
    }
.header {
  padding-top: 20px;
}
  .accent-logo {
    width: 123px;
    height: 16px;
    margin-right: 97px;
  }
   .nav-list {
    display: flex;
    gap: 40px;
  } 

  .wrapper {
    background-image: 
        url("/img/grid/header+hero.desk.png");
        
  }
  
  @media only screen and (min-resolution: 192dpi) {
    .wrapper {
      background-image: 
        url("/img/grid/header+hero.desk.desk@2x.png");
    }
  }

  .header-menu-btn {
    display: none;
  }

  .header-scroll
   {
     padding: 16px 84px;
  }
   .header-nav {
      width: 822px;
      height: 60px;
    }
  
  .nav-link {
    color: #FFF;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  }
  .nav-link:hover {
    color: #BEA69E;
  }
  } 
    @media screen and (min-width: 1440px) {
      .container {
        max-width: 1440px;
      }
                .wrapper {
                  background-image:
                    url("/img/grid/header+hero.desk.png");
                  padding-top: 20px;
                  padding-bottom: 40px;
                }
            @media only screen and (min-resolution: 192dpi) {
              .wrapper {
                background-image:
                  url("/img/grid/header+hero.desk.desk@2x.png");
              }
            }
    }