.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.hero-artical {
    padding: 40px 20px 0 20px;
    border-radius: 30px;
    background: #1D1D1D;
}
.hero-section {
    padding-top: 10px;
    padding-bottom: 40px;
}
.hero-title {
    color: white;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 20px;
}
.hero-span {
    color: #BEA69E;
    font-style: italic;
    font-size: 40px;
    line-height: 1.1;
}
.hero-text {
    color: white;
    font-size: 14px;
    line-height: 1.28;
    margin-bottom: 40px;
}
.hero-block {
    display: inline-flex;
    gap: 40px;
    padding-bottom: 31px;
}
.hero-icon-students {
    display: inline-flex;
    gap: 4px;
}
.hero-icon-arrow {
    fill: #fff;
}
.hero-students {
    color: white;
    font-size: 14px;
    line-height: 1.28;
    width: 82px;
}
.hero-reviews {
    display: inline-flex;
    gap: 12px;
}
.hero-reviews-number {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.hero-icon-star {
    background-color: #BEA69E;
    border-radius: 100px;
    width: 50px;
    height: 50px;
}
.icon-star {
    stroke: #121212;
}
.reviews {
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    line-height: 1.28;
}
.hero-number {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
}

@media screen and (min-width: 375px) {
    .container {
        width: 100%;
        max-width: 375px;
    }
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 734px;
        padding: 0 32px;
        margin: 0 auto;
    }
    .hero-section {
        padding-top: 20px;
        padding-bottom: 50px;
    }
    .hero-artical {
        padding-top: 64px;
        padding-left: 32px;
    }
    .hero-title {
        font-size: 60px;
        line-height: 1.07;
    }
    .hero-span {
        font-size: 60px;
        line-height: 1.07;
    }
    .hero-text {
        margin-bottom: 40px;
    }
    .hero-happy-students {
        display: inline-flex;
        gap: 12px;
    }
    .hero-image {
        margin: 0 auto;
    }
}
@media screen and (min-width: 1280px) {
    .container {
        max-width: 1110px;
        padding: 0 15px;
    }
    .hero-artical {
        padding: 80px 50px 0 50px;
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
    .hero-section {
        padding-top: 40px;
        padding-bottom: 75px;
    }
    .hero-title {
        font-size: 64px;
        font-weight: 500;
        line-height: 1.06;
    }
    .hero-span {
        font-size: 64px;
        line-height: 1.06;
    }
    .hero-text {
        font-size: 14px;
        line-height: 1.28;
        margin-bottom: 136px;
    }
    .hero-block {
        padding-bottom: 50px;
    }
    .hero-students {
        font-size: 16px;
        line-height: 1.25;
    }
    .hero-icon-students {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }
    .reviews {
        font-size: 16px;
        line-height: 1.25;
    }
    .hero-number {
        font-size: 16px;
        line-height: 1.25;
    }
}



