.container {
    width: 1280px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}
.hero-artical {
    padding: 80px 50px 0 50px;
    border-radius: 30px;
    background: #1D1D1D;

}
.hero-section {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto; 
    padding-top: 40px;
    padding-bottom: 75px;
}
.hero-content {
    max-width: 563px;
}
.hero-title {
    color: white;
    font-size: 64px;
    font-weight: 500;
    line-height: 1.06;
    margin-bottom: 20px;
}
.hero-span {
    color: #BEA69E;
    font-size: 64px;
    font-style: italic;
    line-height: 1.06;
}
.hero-text {
    color: white;
    font-size: 14px;
    line-height: 1.28;
    width: 418px;
    margin-bottom: 136px;
}
.hero-block {
    display: inline-flex;
    gap: 40px;
    padding-bottom: 50px;
}
.hero-happy-students {
    display: inline-flex;
    gap: 12px;
}
.hero-icon-students {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.hero-icon-arrow {
    fill: #fff;
}
.hero-students {
    color: white;
    font-size: 16px;
    line-height: 1.25;
    width: 82px;
}
.hero-reviews {
    display: inline-flex;
    gap: 12px;
}
.hero-reviews-number {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.hero-icon-star {
    background-color: #BEA69E;
    border-radius: 100px;
}
.reviews {
    color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    line-height: 1.25;
}
.hero-number {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
}


@media screen and (min-width: 375px) {
    .container {
        width: 335px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .hero-section {
        width: 100%;
        max-width: 335px;
    }

    .hero-title {
        font-size: 40px;
        line-height: 1.1;
        margin-bottom: 20px;
    }

    .hero-span {
        font-size: 40px;
        line-height: 1.1;
    }

    .hero-text {
        max-width: 100%;

        margin-bottom: 40px;
    }

    .hero-students {
        font-size: 14px;
        line-height: 1.28;
    }

    .reviews {
        font-size: 14px;
        line-height: 1.28;
    }

    .hero-number {
        font-style: 16px;
        line-height: 1.125;
    }
}
@media screen and (min-width: 768px) {
    .container {
        width: 704px;
        padding: 0 32px;
        margin: 0 auto;
    }

    .hero-section {
        width: 100%;
        max-width: 704px;
    }

    .hero-title {

        font-size: 60px;
        font-weight: 500;
        line-height: 1.07;
        margin-bottom: 20px;
    }

    .hero-span {
        font-size: 60px;
        line-height: 1.07;
    }

    .hero-text {
        width: 418px;
        margin-bottom: 40px;
    }

    .hero-students {
        font-size: 16px;
        line-height: 1.25;
    }

    .reviews {
        font-size: 16px;
        line-height: 1.25;
    }

    .hero-number {
        font-style: 16px;
        line-height: 1.25;
    }
}
/* @media screen and (min-width: 1024px) {
    .hero-artical {
        display: flex;
            justify-content: space-between;
            align-items: end;
    }
    .hero-content {
        max-width: 100%;
    }
    
} */
@media screen and (min-width: 1280px) {
    .container {
        width: 1080px;
        margin: 0 auto;
        padding: 0 15px;
    }

    .hero-section {
        width: 100%;
        max-width: 1080px;
    }

    .hero-title {
        font-size: 64px;
        font-weight: 500;
        line-height: 1.06;
        margin-bottom: 20px;
    }

    .hero-span {
        font-size: 64px;
        line-height: 1.06;
    }

    .hero-text {
        font-size: 14px;
        line-height: 1.28;
        width: 418px;
        margin-bottom: 136px;
    }

    .hero-students {
        font-size: 16px;
        line-height: 1.25;
    }

    .reviews {
        font-size: 16px;
        line-height: 1.25;
    }

    .hero-number {
        font-size: 16px;
        line-height: 1.25;
    }
}



