.section-courses{
    padding-top: 40px;
    padding-bottom: 40px;
}
.container-information {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
.focus {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}

.courses {
    color: #FFF;
    font-family: DM Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 114.286% */
    letter-spacing: -1.12px;
}

.courses-span {
    color: #BEA69E;
    font-family: DM Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1.12px;
}

.skill-check {
    max-width: 381px;
    color: #FFF;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.32px;
}

.photography-ol {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.list-card {
    width: 335px;
    height: 398px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(180deg, #060707 0%, #1D1D1D 100%);
}

.info-item {
    display: flex;
    margin-top: 28px;
    gap: 229px;
    margin-bottom: 28px;
}

.info-list {
    color: rgba(255, 255, 255, 0.40);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
    margin-left: 28px;
}


.life-info{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    border: 1px;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        background-color: #1D1D1D;
}
.life-info:hover{
    background-color:  #BEA69E;
    transition-duration: 1s;
}
.life-info:focus {
    background-color: #BEA69E;
}
.vector-svg{
    fill: #FFFFFF66;
}
.vector-svg:hover{
fill: #FFFFFF;
transition-duration: 1s;
}
.life-info:hover {
    background-color: #BEA69E;
}
.photography-list {
    color: #FFF;
    font-family: DM Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    max-width: 265px;
    margin-bottom: 164px;
    margin-left: 28px;
}

.information-item {
    color: rgba(255, 255, 255, 0.50);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
    width: 279px;
    margin-left: 28px;
}

@media screen and (min-width: 768px) {
    .section-courses {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    .container-information {
        max-width: 734px;
        padding-left: 15px;
        padding-right: 15px;

    }

    .courses {
        font-size: 48px;
        line-height: 54px;
        letter-spacing: -1.92px;
    }

    .courses-span {
        font-size: 48px;
        line-height: 54px;
        letter-spacing: -1.92px;
    }

    .skill-check {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.32px;
    }

    .focus {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
        margin-bottom: 50px;
    }

    .photography-ol {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .info-item {
        gap: 232px;
    }

    .list-card {
        width: 342px;
        height: 452px;
    }

    .info-item {
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .photography-list {
        margin-bottom: 180px;
        margin-left: 32px;
    }

    .information-item {
        width: 283px;
        margin-left: 32px;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.32px;
    }
}

@media screen and (min-width: 1280px) {
    .section-courses {
            padding-top: 75px;
            padding-bottom: 75px;
        }
    .container-information {
        max-width: 1110px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .focus {
        display: flex;
        justify-content: space-between;
        gap: 0;
    }

    .list-card {
        width: 347px;
        height: 452px;
    }

    .photography-ol {
        flex-wrap: nowrap;
    }

    .info-item {
        gap: 233px;
    }

    .skill-check {
        max-width: 405px;
    }

    .information-item {
        width: 283px;
    }
}

/* додано */
@media screen and (min-width: 1440px) {

    .container-information {
        max-width: 1270px;
    }
    .photography-ol{
        justify-content: space-between;
    }
}
