.container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 375px) {
  .container {
    padding: 0 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 734px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
  }
}
/* @media screen and (min-width: 1440px) { 
  .container {
    max-width: 100%;
  }
}
*/
.section {
  padding: 40px 0;
}
@media screen and (min-width: 375px) {
  .section {
    padding: 40px 0;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding: 40px 0;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding: 40 0px;
  }
}
/* 
@media screen and (min-width: 1440px) {
  .section {
    padding: 0 15px;
    padding-top: 40px;
  }
}
 */
/*.reviews-list {
}
@media screen and (min-width: 735px) and (max-width: 1110px) {
  .reviews-list {
  }
}
@media screen and (min-width: 1111px) {
  .reviews-list {
  }
}*/
@media screen and (min-width: 768px) {
  .reviews-ul {
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .reviews-ul {
    display: flex;
    gap: 20px;
    padding-left: 75px;
  }
}
/*  
@media screen and (min-width: 1440px) {
  .reviews-ul {
    display: flex;
    gap: 20px;
    padding: 0;
  }
}
*/
.reviews-li {
  width: 280px;
  padding: 0;

  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

@media screen and (min-width: 375px) {
  .reviews-li {
    width: 335px;
    padding: 0;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}
@media screen and (min-width: 768px) {
  .reviews-li {
    width: 640px;

    padding: 0;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}
@media screen and (min-width: 1280px) {
  .reviews-li {
    width: 530px;
    padding: 0;
  }
}
/* 
@media screen and (min-width: 1440px) {
  .reviews-li {
    width: 530px;

    padding: 0;
  }
}
 */

@media screen and (min-width: 768px) {
  .revivews-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .revivews-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
/* @media screen and (min-width: 1440px) { 
  .revivews-wrapper {
    display: flex;
    justify-content: space-between;
  }
}*/

.visually-hidden {
  display: none;
}

@media screen and (min-width: 1280px) {
  .visually-hidden {
    display: block;
  }
}
/* @media screen and (min-width: 1440px) { 
  .visually-hidden {
    display: block;
  }
}
*/
.reviews-title {
  color: #fff;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -1.12px;
  margin-bottom: 40px;
}
@media screen and (min-width: 375px) {
  .reviews-title {
    color: #fff;
    font-family: DM Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -1.12px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .reviews-title {
    font-size: 48px;
    line-height: 1.13; /* 112.5% */
    letter-spacing: -1.92px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .reviews-title {
    font-size: 48px;
    line-height: 1.13; /* 112.5% */
    letter-spacing: -1.92px;
    margin-bottom: 50px;
    margin-left: 75px;
  }
}
/*  
@media screen and (min-width: 1440px) {
  .reviews-title {
    font-size: 48px;
    line-height: 1.13;
    letter-spacing: -1.92px;
    margin-bottom: 50px;
  }
}
*/
.revivews-title-div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 4px;
}

@media screen and (min-width: 375px) {
  .reviews-title-div {
    margin-bottom: 4px;
  }
}
@media screen and (min-width: 768px) {
  .reviews-title-div {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .reviews-title-div {
    margin-bottom: 20px;
  }
}
.revivews-text {
}
.revivews-h {
  color: #fff;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
}

.revivews-p {
  color: rgba(255, 255, 255, 0.5);
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33; /* 133.333% */
  letter-spacing: -0.24px;
}

.star-list {
  margin-left: 86px;
  display: flex;
  gap: 4px;
  margin-bottom: 20px;
}
@media screen and (min-width: 375px) {
  .star-list {
    padding-top: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .star-list {
    padding-top: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .star-list {
    padding-top: 20px;
    padding-right: 20px;
  }
}
/*  
@media screen and (min-width: 1440px) {
  .star-list {
    padding-top: 20px;
    padding-right: 20px;
  }
}
*/
.star-svg {
  fill: #bea69e;
}

@media screen and (min-width: 375px) {
  .star-svg {
    fill: #bea69e;
  }
}
@media screen and (min-width: 768px) {
  .star-svg {
    transform: scale(1.25);
  }
}
@media screen and (min-width: 1280px) {
  .star-svg {
    transform: scale(1.25);
  }
}
/* 
@media screen and (min-width: 1440px) {
  .star-svg {
    transform: scale(1.25);
  }
}
 */

.star-svg-empty {
  fill: #414141;
  stroke: rgba(255, 255, 255, 0.2);
}

@media screen and (min-width: 375px) {
  .star-svg-empty {
    fill: #414141;
    stroke: rgba(255, 255, 255, 0.2);
  }
}
@media screen and (min-width: 768px) {
  .star-svg-empty {
    transform: scale(1.25);
  }
}
@media screen and (min-width: 12800px) {
  .star-svg-empty {
    transform: scale(1.25);
  }
}
/* 
@media screen and (min-width: 1440px) {
  .star-svg-empty {
    transform: scale(1.25);
  }
}
 */
.revivews-deskr {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.28px;
  padding: 0 20px 20px;
}
