.sign-up-container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
}

.sign-up-section {
    padding: 40px 0;
}

.sign-up-title {
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.04em;
    margin-bottom: 20px;
}

.sign-up-title-accent {
    color: #BEA69E;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.04em;
}

.sign-up-text {
    color: #FFF;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
    padding-right: 51px;
}

.sign-up-input {
    display: block;
    width: 100%;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background-color: transparent;
    outline: transparent;
    padding: 14px 18px;
    margin-bottom: 8px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign-up-input:focus {
    border: 1px solid rgba(255, 255, 255, 0.50);
}



.sign-up-textarea {
    display: block;
    height: 112px;
    width: 100%;
    resize: none;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background-color: transparent;
    outline: transparent;
    padding: 14px 18px;
    margin-bottom: 40px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.sign-up-textarea:focus {
    border: 1px solid rgba(255, 255, 255, 0.50);
}

input::placeholder,
textarea::placeholder {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    opacity: 0.7;
}

.sign-up-batton {
    color: #121212;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase;
    border-radius: 12px;
    background: #FFF;
    cursor: pointer;
    display: flex;
    width: 100%;
    border: none;
    padding: 14px 0;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.sign-up-batton:hover {
    color: #BEA69E;
    background: #1D1D1D;
}

.text-info {
    color: rgba(255, 255, 255, 0.50);
    font-size: 12px;
    line-height: 1.33;

}

.policy-link {
    color: rgba(255, 255, 255, 0.50);
    font-size: 12px;
    line-height: 1.33;
    text-decoration-line: underline;

}

.sign-up-image {
    display: none;
}

@media screen and (min-width: 375px) {
    .sign-up-container {
        max-width: 375px;
    }
}



@media screen and (min-width: 768px) {
    .sign-up-container {
        max-width: 768px;
        padding: 0 32px;
    }

    .sign-up-section {
        padding: 50px 0;
    }

    .form-conteiner {
        max-width: 480px;
    }

    .sign-up-title {
        font-size: 48px;
        line-height: 1.12;
        letter-spacing: -0.04em;
    }

    .sign-up-title-accent {
        font-size: 48px;
        line-height: 1.12;
        letter-spacing: -0.04em;
    }

    .sign-up-text {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
        padding-right: 260px;
    }

    .sign-up-input {
        padding: 20px 18px;
        margin-bottom: 14px;
    }

    .sign-up-textarea {
        padding: 20px 18px;
    }

    input::placeholder,
    textarea::placeholder {
        font-size: 16px;
        line-height: 1.25;
    }

    .sign-up-batton {
        font-size: 18px;
        line-height: 1.56;
        padding: 16px 0;
        margin-bottom: 20px;
    }

    .text-info {
        font-size: 14px;
        line-height: 1.28;
    }

    .policy-link {
        font-size: 14px;
        line-height: 1.28;
    }

}


@media screen and (min-width: 1280px) {

    .sign-up-container {
        max-width: 1280px;
        padding: 0 100px;
    }

    .sign-up-section {
        padding: 75px 0;
    }

    .sign-up-text {

        padding-right: 40px;
    }

    .sign-up-box {
        display: flex;
        gap: 60px;
    }

    .sign-up-image {
        display: flex;
        align-items: flex-end;
        padding-bottom: 30px;

    }

    .lens-img {

        padding: 76px 19px 62px;
        width: 180px;
        height: 288px;
        border-radius: 1000px;
        background: #BEA69E;
        margin-right: 20px;
    }



    .camera-img {
        padding: 156px 50px 88px;
        width: 340px;
        height: 540px;
        border-radius: 1000px;
        background: #1D1D1D;
    }


}

@media screen and (min-width: 1440px) {

    .sign-up-container {
        max-width: 1440px;
    }



    .sign-up-box {
        display: flex;
        gap: 200px;
    }



    .lens-img {

        padding: 63px 18px 62px;
        width: 190px;
    }



    .camera-img {
        padding: 139px 48px 88px;
        width: 350px;

    }
}

@media screen and (min-width: 1440px) {
    .lens-img-size {
        width: 163px;
        height: 154px;
    }

    .camera-img-size {
        width: 254px;
        height: 313px;
    }
}

@media screen and (max-width: 1439.98px) {
    .lens-img-size {
        width: 150px;
        height: 142px;
    }

    .camera-img-size {
        width: 240px;
        height: 296px;
    }
}